Overlay/MousePointer
{
    zorder 502
    container Panel(MousePointer/Pointer)
    {
        metrics_mode pixels
        top 0
        left 0
        width 64
        height 64

        material MousePointer
    }
}