/* default.css
 *
 * Copyright 2008 Eliot Eshelman
 * battlestartux@6by9.net
 *
 *
 *  This file is part of Battlestar Tux.
 *
 *  Battlestar Tux is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; version 2 of the License.
 *
 *  Battlestar Tux is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Battlestar Tux; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 */


/* Set default parameters for all objects. */
* {
	margin: 0;
	padding: 0;
}


/* body attributes and alignment */
body {
	color: #008CDD;
	background: #000000 url('images/nebula.png') no-repeat;
	background-position: center center;
	text-align: center;
	font-family: Verdana, Lucida, Sans-Serif;
	font-size: 12pt;
}


/* Title at top of page. */
div#title {
	color: #000000;
	background-color: #008CDD;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding: 0.2em;
	width: 14em;
}


/***************************** Navigation Pane ********************************/
div#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 8em;
	padding-top: 2em;
}
div#nav div {
	margin: 0.8em 0em;
}
div#nav a {
	display: block;
	padding: 0.5em 0.2em;
	text-decoration: none;
}
/******************************************************************************/


/* Main content. */
div#main {
	margin-left: 9em;
}


/* Heading for framed areas.  The frame needs to have 0.5em padding along the top. */
div.heading {
	color: #000000;
	background-color: #008CDD;
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.5em;
	margin-bottom: 0.7em;
	padding: 0.1em;
	width: 75%;
}



/***************************** Links ********************************/
a, a:link, a:visited, a:active {
	color: #008CDD;
	text-decoration: underline;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
/********************************************************************/



/***************************** Forms ********************************/
textarea, input, select, option {
	color: #FFFFFF;
	background-color: #181818;
	border: solid 1px #008CDD;
	margin: 0.1em;
	padding: 0.1em 0.5em;
}
/********************************************************************/



/* Error messages. */
div.error {
	color: #DD0000;
	background-color: #080808;
	border: solid 1px #DD0000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 25em;
	padding: 0.5em;
}


/*************************** Login Page *****************************/
form.login {
	opacity: 0.8;
	background-color: #080808;
	border: solid 1px #008CDD;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 25em;
	padding: 0.5em;
}
form.login table { width: 100%; }
form.login th { text-align: right; }
form.login td { text-align: left; }

/* Link for new accounts. */
div.new_account {
	margin-top: 1em;
	text-align: right;
}
/********************************************************************/



/************************* Periodic Table ***************************/
div.element {
	opacity: 0.8;
	background-color: #080808;
	border: solid 1px #008CDD;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	width: 40em;
	text-align: left;
}


table.periodic {
	opacity: 0.8;
	background-color: #080808;
	border: solid 1px #008CDD;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border-collapse: collapse;
}
a.element {
	display: block;
	text-decoration: none;
	color: #000000;
}
table.periodic td {
	border: solid 1px #000000;
	width: 3em;
	height: 3em;
}
table.periodic td.blank {
	color: #008CDD;
	background: none;
	border: none;
}
table.periodic td.gas { background-color: #FFFFFF; }
table.periodic td.gas:hover { background-color: #D9D9D9; }
table.periodic td.liquid { background-color: #C8FF7A; }
table.periodic td.liquid:hover { background-color: #A8D666; }
table.periodic td.solid { background-color: #9CE0FF; }
table.periodic td.solid:hover { background-color: #80B7D1; }
div.symbol { font-size: 125%; }
div.number { font-size: 75%; }
/********************************************************************/



